@font-face {
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Flat'), local('NovaFlat'), url(https://fonts.gstatic.com/s/novaflat/v9/vFeor41nvsomiEVSx6n4iqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}